<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courier</title>
</head>
<body>

<p th:text="${'id Пользователя: ' + courierEntity.get().getId()}">VALUE</p>
<br/>
<p th:text="${'Имя курьера: '  + courierEntity.get().name}">VALUE</p>

<p th:text="${'Последнее обновление: ' + courierEntity.get().getUpdatedDate()}">VALUE</p>

<p th:text="${'Тип пользователя: ' + courierEntity.get().getRole().toString()}">VALUE</p>

<p th:text="${'Статус курьера: ' + courierEntity.get().getStatus().toString()}">VALUE</p>
<hr/>

<br/>
<!--<form th:method="DELETE" th:action="@{/couriers/{id}(id=${courierEntity.get().getId()})}">-->
<!--  <input type="submit" value="Delete"/>-->
<!--</form>-->

</body>
</html>